@using ButterCMSPage.Controllers
@using ayce.Models

@{
    ViewBag.Title = Model.DishTitle;
}

<div class="dish-page">
    <div class="dish-title">
        <h1>@Model.DishTitle</h1>
    </div>
    <div class="dish-rating">
        @Html.Raw(File.ReadAllText(Server.MapPath(@Model.getRatingString())))
    </div>
    <div class="dish-cuisine">
        Cuisine: @Model.DishCuisine
    </div>
    <div>
        <img src="@Model.DishImage"/>
    </div>

</div>